__mocks__/
__tests__/
.github/
src/
tests/
.gitignore
.npmignore
sample.env
sample.settings.js
settings.d.ts
settings.js
.env
tsconfig.json
logs/
node_modules/
__fixtures__/
build/__mocks__/
build/__tests__/